<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="32310">
		<setting type="lsep" label="31003" />
		<setting id="proxy_url" type="text" label="URL" />
		<setting type="sep" />
		<setting type="lsep" label="Streaming" />
		<setting id="bandwidth" type="labelenum" label="Bandwidth" values="Adaptive|Auto|Manual|Max|Medium|Low" default="Auto" />
		<setting id="proxy_type" type="labelenum" label="Proxy Type" values="Downloader|Redirect" default="Redirect" visible="eq(-1,0)"/>
		<setting type="sep" />
		<setting type="lsep" label="GloboPlay"></setting>
		<setting id="globo_play_full_videos" type="bool" label="Show Full Videos Only" default="true" />
		<setting type="sep" />
		<setting type="lsep" label="Sexy Hot"></setting>
		<setting id="show_adult" type="bool" label="Show Adult Content" default="true" />
		<setting id="sexy_hot_pagination" type="bool" label="Use Pagination" default="true" />
		<setting type="sep" />
		<setting id="clear" type="action" label="Clear Cache" action="RunPlugin(plugin://plugin.video.brplay/?action=clear)"/>
	</category>
	<category label="32346">
		<setting type="lsep" label="31200"></setting>
		<setting id="globosat_provider" type="labelenum" label="31210" values="NET|TV Oi|Sky|Vivo|Globosat Guest|Claro|Multiplay|ORM Cabo" default="TV Oi" />
		<setting id="globosat_username" type="text" label="31110" default="" />
		<setting id="globosat_password" type="text" option="hidden" label="31120" enable="!eq(-1,)" default="" />
		<setting type="sep" />
		<setting type="lsep" label="31100"></setting>
		<setting id="globoplay_username" type="text" label="31110" default="" />
		<setting id="globoplay_password" type="text" option="hidden" label="31120" enable="!eq(-1,)" default="" />
		<setting id="globo_affiliate" type="labelenum" label="31111" values="Rio de Janeiro|Sao Paulo|Brasilia|Belo Horizonte|All" default="Rio de Janeiro" />
		<setting type="sep" />
	</category>
</settings>
